<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/main.css}" rel="stylesheet" />
    <title>Top 10 Crypto</title>
</head>
<body>
    <h1>Top 10 Crypto</h1>
    <table>
        <thead>
            <tr>
                <th>Index</th>
                <th>Coin</th>
                <th>Market Cap</th>
                <th>More Info</th>
            </tr>
            <tr th:each="crypto, iterStat : ${cryptolist}" 
            th:style="${iterStat.odd}? 'font-weight: bold;'">
                <td th:text="${iterStat.count}"></td>
                <td>
                    <img th:src="@{http://www.cryptocompare.com{image} (image=${crypto.imageURL})}">
                    <span th:text="${crypto.name}"></span>
                </td>
                <td th:text="${crypto.mktCap}"></td>
                <td>
                    <a th:href="@{http://www.cryptocompare.com{cryptoURL} (cryptoURL=${crypto.url})}">
                        <p th:text="${crypto.name}"></p>
                    </a>
                </td>
            </tr>
        </thead>
    </table>
</body>
</html>